@model CsiMediaTechTest.Models.HomeViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Index</title>
</head>
<body class="bg-light">
    <div class="container">

        <div class="py-5 text-center">
            <h2>Csi Media Tech Test</h2>
        </div>

        <div class="row">
            <div class="col-md-4">

                @using (Html.BeginForm("AddInput", "Home"))
                {
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Input</span>
                        </div>
                        @Html.TextBoxFor(m => m.Input, new { @class = "form-control", autofocus = "autofocus" })
                        <div class="input-group-append">
                            <input class="btn btn-outline-secondary" type="submit" value="Create" />
                        </div>
                    </div>
                }

                @if (Model.Values.Any())
                {
                    if (Model.SortBy == CsiMediaTechTest.Models.SortByEnum.Unordered)
                    {
                        <p>Currently not ordered.</p>
                    }
                    else if (Model.SortBy == CsiMediaTechTest.Models.SortByEnum.Asc)
                    {
                        <p>Currently sorting in ascending order.</p>
                    }
                    else if (Model.SortBy == CsiMediaTechTest.Models.SortByEnum.Desc)
                    {
                        <p>Currently sorting in descending order.</p>
                    }

                    using (Html.BeginForm("Reset", "Home"))
                    {
                        <input class="btn btn-danger" type="submit" value="Reset" />
                    }
                }
            </div>

            @if (Model.Values.Any())
            {
                <div class="col-md-8">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">
                                    @Html.ActionLink("Values", "SortValues", new { SortBy = Model.SortBy })

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < Model.Values.Count(); i++)
                            {
                                <tr>
                                    <th scope="row">@(i + 1)</th>
                                    <td>@Model.Values[i]</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }

        </div>


        @if (Model.ChangeLog.Any())
        {
            <hr/>
            <h3>Change Log</h3>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Version</th>
                            <th scope="col">Ordered</th>
                            <th scope="col" colspan="100">Values</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var change in Model.ChangeLog)
                        {
                            <tr>
                                <th scope="row">@change.Version</th>
                                @if (change.SortBy == CsiMediaTechTest.Models.SortByEnum.Unordered)
                                {
                                    <td>Unordered</td>
                                }
                                else if (change.SortBy == CsiMediaTechTest.Models.SortByEnum.Asc)
                                {
                                    <td>Ascending</td>
                                }
                                else if (change.SortBy == CsiMediaTechTest.Models.SortByEnum.Desc)
                                {
                                    <td>Descending</td>
                                }

                                @foreach (var value in change.Values)
                                {
                                    <td>@value</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
